// Forms.

.contact-form,
.search-form {
	// @include margin(null null $vert-spacing-unit null);
	label {
		font-size: $base-font-size * 1.8;
		font-family: $heading-font-family;
		margin-bottom: $vert-spacing-unit / 2;
	}
	.form-text,
	.form-textarea {
		font-size: $base-font-size * 1.8;
		border: 1px solid $dark-white;
		@include border-radius(0);
		font-family: $heading-font-family;
	}
	.description {
		font-size: $base-font-size * 1.4;
	}
	.form-submit {
		@include border-radius(0);
		@include background($white);
		color: $bright-pink;
		font-size: $base-font-size * 1.8;
		border: 1px solid $bright-pink;
		&:hover {
			background-color: $bright-pink;
			color: $white;
		}
	}
}