// Footer menu

.footer-menu {
	@include margin(null null $vert-spacing-unit / 2 null);
	.menu {
		@include padding(0);
		text-align: center;
	}
	.leaf {
		@include flex(0 0 auto);
		@include margin(null rem(5));
		list-style: none;
		@include padding(rem(2));
	}
	a {
		@include transition(color $base-duration $base-timing);
		color: $white;
		&:hover {
			text-decoration: none;
			color: $dark-white;
		}
	}
}

@include breakpoint(desktop) {
	.footer-menu {
		.menu {
			@include align-items(stretch);
			@include display(flex);
			@include flex-direction(row);
			@include flex-wrap(wrap);
			@include justify-content(center);
		}
	}

}