$black: blue;
$white: #FFFFFF;
$corporate-primary-1: #005677;
$corporate-primary-2: #00283e;
$corporate-secondary-1: #58595b;
$corporate-secondary-2: #1b9590;
$corporate-secondary-3: #939598;
$corporate-secondary-4: #61c6c6;
$corporate-accent-1: #9cd9e0;
$corporate-accent-2: #c973af;
$lightish-grey: #e1e1e1;
$text-color: $black;

$grapefruit: #e97e76;
$purple: #a16aa3;
$pink: #ee83b2;
$blue: #8c9ed1;
$yellow: #fced80;
$green: #a1cb83;
$red: #f00;

$bright-yellow: #FFF43E;
$bright-pink: #FF648C;
$bright-blue: #6E8CCF;
$super-yellow: #FFDD00;

$light-black: #212121;
$dark-grey: #3A3A3A;
$mid-grey: #444;
$light-grey: #A3A3A3;
$dark-white: #F0F0F0;
