body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 10px !important;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  font-weight: 400;
}
.front h1 {
  text-transform:uppercase;
  margin-bottom: 0.25em;
}
h1 {
  font-size: $base-font-size * 5.6;
  line-height: 1.1;
}
h2 {
  font-size: $base-font-size * 3.2;
}
h3 {
  font-size: $base-font-size * 2.6;
}
h4 {
  font-size: $base-font-size * 2.2;
}
.l-main {
  p, li {
    font-size: $base-font-size * 1.8;
    margin: 0 0 $small-spacing;
    li {
      font-size: $base-font-size;
    }
  }
  ul, ol {
    list-style: outside square;
    padding-left: $base-font-size * 3;
    ul, ol {
      list-style: outside disc;
    }
  }

  ol {
    list-style-type: decimal;
    ol {
      list-style-type: lower-alpha;
      ol {
        list-style-type: lower-roman;
      }
    }
  }
  a {
    color: $action-color;
    text-decoration: none;
    transition: color $base-duration $base-timing;
    font-weight: bold;
    border-bottom: 1px solid $light-black;
    @include transition(border $base-duration $base-timing);

    &:active,
    &:focus,
    &:hover {
      color: shade($action-color, 25%);
      text-decoration: none;
      border-bottom: 2px solid $light-black;
    }
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

strong {
	font-weight: 700;
}
